
.App {
  color: black;
  min-height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10%;
}
ol {text-transform: uppercase;}

th {
  font-size: 12px;
  color: white;background: #7db9e8;
  background: -moz-linear-gradient(top,  #7db9e8 0%, #1e5799 46%, #7db9e8 100%);
  background: -webkit-linear-gradient(top,  #7db9e8 0%,#1e5799 46%,#7db9e8 100%);
  background: linear-gradient(to bottom,  #7db9e8 0%,#1e5799 46%,#7db9e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#7db9e8',GradientType=0 );
  
}

tr td {  font-size: 12px; font-weight: bold; cursor: pointer !important;}

tr:hover {
  background: rgba(0, 0, 0, .05) !important;
}


.page-item.active .page-link {
  background: #1e5799;
  background: -moz-linear-gradient(top,  #1e5799 0%, #7db9e8 99%);
  background: -webkit-linear-gradient(top,  #1e5799 0%,#7db9e8 99%);
  background: linear-gradient(to bottom,  #1e5799 0%,#7db9e8 99%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );}

